:root {
  --green: #9f9;
  --green-linear: linear-gradient(#46ffc1, #19fd24);
  --green-linear-second: linear-gradient(#00fff2,#73ff8a);

  --black-first: #000;
  --black-second: #0000004d;
  
  --blue: #99f;
  --white: #fff;
}